$tipografia-principal: 'Anek Devanagari', sans-serif;
$tipografia-secundaria: 'Ardeco', sans-serif;
$tipografia-cursiva: 'Dancing Script', cursive;
$azul-oscuro: #1746A2;
$azul-claro: #5F9DF7;
$naranja: #FF731D;
$beige: #FFF7E9;