.h2-cars {
	display: none;
}
.h1-cars {
    font-size: 3em;
    color: $azul-oscuro;
    text-align:center;
}
.h3-cars {
	color: $azul-claro;
	font-size: 40px;
	text-align: center;
}
.div-corola {
    img:first-child {
        width: 100%;
        border-radius: 0px 0px 30px 30px;
    }
    .div-corola2 {
        display: flex;
            p{
                font-size: 25px;
                width: 50vw;
                color: $azul-claro;
                text-align: center;
            }
            b{
                font-size: 35px;
                color: $azul-oscuro;
            }
            .img-corolla-mob {
                display: none;
            }
            .div-carinput {
                margin: auto;
            }
    }
}
.focus-img {
	width: 100%;
	border-radius: 0px 0px 30px 30px;
}
.div-focus {
    display: flex;
    margin: 0 0 30px;
        .focus-text {
            font-size: 25px;
            width: 50vw;
            color: $azul-claro;
            text-align: center;
                b{
                    font-size: 35px;
                    color: $azul-oscuro;
                }
        }
        .img-focus-mob {
            display: none;
        }
        .div-carinput {
            margin: auto;
            
        }
}
