.contact-h1 {
	text-align:center;
	color: #5f9df7;
	font-size: 30px;
}
.contact-section {
    display: flex;
    justify-content: center;
    gap: 20px;
        .contact-div {
            width: 50%;
                iframe {
                    @include tamaño(100%, 100%);
                }
        }
        .div-form {
                form{
                    @include column;
                        .but-mob {
                            display: none;
                        }
                        input {
                            font-size: 20px;
                            @include tamaño(300px, 100%);
                            background-color: #dfdfdf;
                            margin: 5px;
                            border: 1px solid black;
                        }
                        select {
                            font-size: 20px;
                            background-color: #dfdfdf;
                            margin: 5px;
                            border: 1px solid black;
                        }
                        textarea {
                            font-size: 20px;
                            background-color: #dfdfdf;
                            margin: 5px;
                            border: 1px solid black;
                            resize: none;
                        }
                }
        }
}
.section-info {
    margin-right: 33vw;
	width: 100%;
        .div-datos-texto {
            color: $azul-claro;
            font-size: 1.5em;
            margin-bottom: 2em;
            margin-left: 8vw;
                .ubic-dates {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    margin-bottom: 10px;
                }
        }
}

