.sect-mobile {
    display: none;
}
.mob-exc-h1 {
    text-align: center;
    color: $azul-oscuro;
    font-size: 2.5em;
    margin-bottom: 1.5em;
}
.excursion-section {
    width: 100%;
	display: grid;
	height: 100%;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(2,1fr);
	justify-items: center;
	grid-template-areas: 
	"card1 card1 card2 card2 card3 card3"
	"card4 card4 card4 card5 card5 card5";
        }
        .card1 {
            grid-area: card1;
            @include card
        }
        .card2 {
            grid-area: card2;
            @include card
        }
        .card3 {
            grid-area: card3;
            @include card
        }
        .card4 {
            grid-area: card4;
            @include card
        }
        .card5 {
            grid-area: card5;
            @include card
        }
        h2 {
            color: $azul-oscuro
        }
