footer {
    .borde-footer img {
        width: 100%;
        margin: -15px 0;
    }
    .redes-container {
        height: 400px;
        background-color: #072340;
            h4 {
                text-align: center;
                color: #FFF7E9;
                font-family: $tipografia-cursiva;
                font-size: 4rem;
                cursor: default;
                font-weight: 200;
            }
            .redes-logos {
                display: flex;
                padding: 4rem;
                justify-content: center;
                gap: 2rem;
                    .redes-div {
                        height: 7.5rem;
                        width: 7.5rem;
                        border-radius: 50%;
                        background-color: white;
                        border: 2px solid #111;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
            }
    }
}
.footer-mob {
    display: none;
}