.h1-who {
	font-size: 25px;
	color: $azul-oscuro;
	text-align: center;
}
.family-container {
    display: flex;
        .family-mob {
            display: none;
        }
        p {
            width: 100%;
            font-size: 1.5em;
            margin: auto;
            margin-left: 10px;
            color: $azul-claro;
            text-align: center;
                a {
                    color: $azul-oscuro;
                }
        }
}
.who-whales {
    display: flex;
	align-items: center;
	justify-content: center;
        p{
            font-size: 1.5em;
            color: $azul-claro;
            text-align: center;
        }
        .mobile-img {
            display: none;
        }
}